---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterNamespace: false
  AfterFunction: true
AllowShortIfStatementsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
IndentCaseLabels: false
IncludeBlocks: Preserve
SortIncludes: false
...
