---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
IndentCaseLabels: false
IncludeBlocks: Preserve
SortIncludes: false
PointerAlignment: Right
ReferenceAlignment: Left
...
