# .dockerignore

build
out/*
build/*

sdk/out/*
sdk/build/*

ffmpeg-plugin/build/*
ffmpeg-plugin/out/*
ffmpeg-plugin/FFmpeg/*
.git/*

# for gRPC protos
media-proxy/out/*
media-proxy/build/*
media-proxy/protos/controller.grpc.pb.cc
media-proxy/protos/controller.grpc.pb.h
media-proxy/protos/controller.pb.cc
media-proxy/protos/controller.pb.h
