# for Python
__pycache__/

# for compilation
build
out/*
build/*

ffmpeg-plugin/build/*
ffmpeg-plugin/out/*
ffmpeg-plugin/FFmpeg/*

# for debug dump
dump_*

# for gRPC protos
media-proxy/protos/controller.grpc.pb.cc
media-proxy/protos/controller.grpc.pb.h
media-proxy/protos/controller.pb.cc
media-proxy/protos/controller.pb.h

# for VS Code settings
.vscode/c_cpp_properties.json
.vscode/settings.json

# For FFmpeg plugin
ffmpeg-plugin/FFmpeg/

docs/_build