# for Python
__pycache__/

# for compilation
build
out

# for debug dump
dump_*
.vscode/
media-proxy/protos/controller.grpc.pb.cc
media-proxy/protos/controller.grpc.pb.h
media-proxy/protos/controller.pb.cc
media-proxy/protos/controller.pb.h
